<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <% if (htmlWebpackPlugin.options.env==='production' ) { %>
    <!-- 在此插入一些只在生产环境使用的代码 -->
  <% } %>
</head>

<body>
  <div id="app"></div>
</body>

</html>